<% @body_id = 'contact_us' %>
<div id="contact-us">
  <h1><%= t("contact_us") %></h1>
  <%= render "spree/shared/error_messages", :target => @contact %>
  <%= form_for(@contact, :url => main_app.contacts_path, :html => {:honeypot => true}) do |f| %>
    <div class="field">
       <%= f.label :topic_id, t("topic") %>
       <%= f.collection_select :topic_id, @topics, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :name, t("name") %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :order_number, t("order_number") %> (<%= t("optionnal") %>)<br />
      <%= f.text_field :order_number %>
    </div>
    <div class="field">
      <%= f.label :email, t("email") %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :message, t("message") %><br />
      <%= f.text_area :message %>
    </div>
    
    <div class="action"><%= f.submit t("send_message"), :class => "button primary" %></div>
  <% end %>
</div>
