<h1><%= t("contacts")%></h1>

<table class="index">
  <tr>
    <th><%= t("name") %></th>
    <th><%= t("email") %></th>
    <th><%= t("topic") %></th>
    <th><%= t("sent") %></th>
    <th>
    </th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr id="<%= dom_id contact %>">
      <%- locals = {:contact => contact} %>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.topic.name %></td>
      <td><%= contact.created_at %></td>
      <td class="actions">
        <%= link_to_view contact %>
        &nbsp;
        <%= link_to_delete contact  %>
      </td>
    </tr>
  <% end %>
</table>