<% content_for :sidebar do %>
  <ul class="sidebar">
  <%= hook :admin_contact_tabs do %>
    <li<%== ' class="active"' if current == 'Contact List' %>>
      <%= link_to t("contact_list"), collection_url() %>
    </li>
    <li<%== ' class="active"' if current == 'Contact Details' %>>
      <%= link_to t("contact_details"), object_url(@contact) %>
    </li>
    <li<%== ' class="active"' if current == 'ContactResend' %>>
      <%= link_to t("resend"), "#" %>
    </li>
  <% end %>
  </ul>
<% end %>